<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <h3>Users</h3>
            @if (authService.userRole === 'admin') {
                <mat-list>
                    <mat-list-item *ngFor="let chat of activeChats">
                        <button mat-button class="user-button" (click)="openChat(chat.id)">
                            <span class="status-dot" [ngClass]="[chat.status === 'active' ? 'online' : 'offline']"></span>
                            {{ chat.startedBy | titlecase }}
                        </button>
                    </mat-list-item>
                </mat-list>
            }
            @else {
                <p>This section in only for admin user</p>
                <p>admin can see all the active chats here</p>
            }
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <router-outlet></router-outlet>
        <chat [openChat]="selectedChat"></chat>
        <button mat-button (click)="testFunction()" >Test button</button>
    </mat-sidenav-content>
</mat-sidenav-container>
