.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
    padding: 10px;
    background: #f4f4f4;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}
.user-button{
    width: 100%;
    justify-content: flex-start;
}